<!-- {% extends "base.html" %}
{% block content %}
<div class="mdc-layout-grid">
  {% for project in projects %}
  <div class="mdc-card mdc-layout-grid__cell--span-4" style="margin: 1rem;">
    <div class="mdc-card__primary-action" onclick="location.href='{% url 'project_detail' project.id %}'">
      <h2 class="mdc-typography--headline6">{{ project.title }}</h2>
      <p>{{ project.description|truncatewords:20 }}</p>
      <p>Deadline: {{ project.bid_deadline }}</p>
    </div>
  </div>
  {% empty %}
    <p>No projects found.</p>
  {% endfor %}
</div>
{% endblock %} -->
