<!-- {% extends "base.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>Submit Your Bid for {{ project.title }}</h3>

  <label class="mdc-text-field mdc-text-field--filled mdc-text-field--fullwidth">
    <input class="mdc-text-field__input" name="tech_doc" type="file" required>
    <span class="mdc-floating-label">Technical Document</span>
    <span class="mdc-line-ripple"></span>
  </label><br><br>

  <label class="mdc-text-field mdc-text-field--filled mdc-text-field--fullwidth">
    <input class="mdc-text-field__input" name="financial_doc" type="file" required>
    <span class="mdc-floating-label">Financial Document</span>
    <span class="mdc-line-ripple"></span>
  </label><br><br>

  <button class="mdc-button mdc-button--raised" type="submit">Submit</button>
</form>
{% endblock %} -->
